@model web.Models.DelovnaMesta

@{
    ViewData["Title"] = "Details";
}

<h1>Podrobnosti</h1>

<div>
    <h4>DelovnaMesta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oddelek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oddelek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lokacija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lokacija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NazivDelovnegaMesta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NazivDelovnegaMesta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DelovnaMestaID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DelovnaMestaID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DelovnaMestaID">uredi</a> |
    <a asp-action="Index">nazaj</a>
</div>
