@model IEnumerable<web.Models.Zaposlen>

@{
    ViewData["Title"] = "Index";
}

<h1 style="margin: 5rem 0rem;">Pregled zaposlenih</h1>

<div class="container">
    <div class="row">
        <div class="col" style="padding: 0px;">
            <p>
                @* asp-action="Create" *@
                <a  href="/Identity/Account/Register" class="btn btn-success">Dodaj novo-zaposlenega</a>
                <!--<a  asp-action="Create" class="btn btn-success">Dodaj novo-zaposlenega</a>-->
            </p>
        </div>
        <div class="col" style="text-align: right; padding: 0px;">
            <form asp-action="Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        Išči po imenu: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                        <input type="submit" value="Išči" class="btn btn-primary" />
                        <br />
                        <a asp-action="Index">Nazaj na celoten seznam</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

<div class ="card-columns">
@foreach (var item in Model) {   
    <div class="card">
        @{
            var photoPath2 = "";
            if(@item.PhotoPath != null){
                photoPath2 = "/Images/" + item.PhotoPath;
            }else{
                photoPath2 = "https://www.pngitem.com/pimgs/m/236-2369728_unknown-person-hd-png-download.png";
            }

        }
        <img src="@photoPath2" class="card-img-top" width="350px" height="270px" alt="Slika zaposlenega">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Ime) @Html.DisplayFor(modelItem => item.Priimek)</h5>
            <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayNameFor(model => model.Naslov): @Html.DisplayFor(modelItem => item.Naslov)</h6>
            <p class="card-text">@Html.DisplayNameFor(model => model.Telefon): @Html.DisplayFor(modelItem => item.Telefon)</p>
            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Uredi</a> 
            <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Podrobno</a> 
            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Izbriši</a>
        </div>
    </div>
}
</div>

